@mixin flexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    @include flexCenter();
    background-color: lightblue;
    color: $textColor;
    button {
        background-color: $primaryBtn;
        &:hover {
            background-color: red;
        }
        &::after {
            content: "Helloooo";
        }
    }
}